
.bod {

    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url('IMG/home_image.jpg');
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.8;

    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;

}

